
#nav_bar {
    margin: 5px;
    padding: 15px;
    width: fit-content;
    max-width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
}

#nav_bar p {
    display: inline;
    margin-right: 6px;
}

#nav_bar p[id] {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.card {
    width: 600px;
    max-width: 95%;
    margin: 9px;
}

.card img {
    max-width: 100%;
    height: auto;
}

#map {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 100%;
}
