/* navigation bar */
#nav_bar {
    margin: 5px;
    padding: 10px;
    width: fit-content;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgb(241, 247, 242);
}

#nav_bar > * {
    display: inline;
    margin-right: 6px;
}

#nav_bar > a[id] {
    text-decoration: none;
    color: rgb(124, 119, 119);
}

#nav_bar > a[id]:hover {
    color: rgb(87, 77, 77);
}

#nav_bar > a[id]:active {
    color: rgb(39, 34, 34);
}

@media only screen and (max-width: 320px) {
    #nav_bar > * {
        text-align: center;
        display: block;
        margin-bottom: 6px;
        margin-right: 0px;
    }

    #nav_bar > #logo {
        margin-right: auto;
        margin-left: auto;
    }

    #nav_bar {
        margin: 5px auto 5px;
    }
}

/* city card */
#city {
    width: 650px;
    max-width: 96vw;
    margin: 9px;
}
/* @media only screen and (min-width: 1200px) {
    #city {
        width: 800px;
    }
} */

/* #city .card-title, 
#cityExtraInfo .modal-title {
    font-size: max(1.25rem, 1.20vw);
}

#city :is(.card-text, .btn), 
#cityExtraInfo .modal-body > p,
#nav_bar > a[id] {
    font-size: max(1rem, 0.95vw);
} */
/* map */
#map {
    border: 1px solid black;
    border-radius: 4px;
    height: 350px;
    margin-bottom: 8px;
}

